body {
	background-color:#c8dfff;
	color:#57616a;
	font-family:Calibri;
	margin:0;
	height:100%;
}

.titleBar {
	margin: 0;
	float:left;
	width: 100%;
	color:#ffffff;
	background-color:#186cde;
	float:left;
	border-bottom: 5px solid;
	border-bottom-color:#c8dfff;
}

.sideBar {
	margin: 0;

    float:left;
	width: 200px;
	height: 600px;
	color:#ffffff;
	background-color:#186cde;
}
.main{
	padding-left: 40px;
	padding-top: 40px;
	min-height: 100%;
	float:left;
	width: 600px;
	height:512px;
}

.sideBar a{
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
}

.sideBar a:hover{
	color:#a1ecce;
	text-decoration:none;
	font-weight:bold;
}
ul{
	font-size: xx-large;
}